.prvw-bdy{
    width: 20rem;
}

.prvw-img {
    width: 20rem;
    height: 10rem;
}

.prvw-dtls {
    display: flex;
    flex-direction: column;
}

.ttl {
    font-weight: 600;
    font-size: 1.2rem;
}